.Home {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(270deg, sandybrown 0%, thistle 100%);
}

.AuthForm {
    background: lightgray;
    width: 600px;
    padding: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    border-radius: 5px;
}